/* Réinitialisation de base pour tous les éléments */
*,
*:before,
*:after {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-scroll-snap-strictness: proximity;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgb(63 131 248 / .5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #e5e7eb;
}

/* Pseudo-éléments pour le contenu */
:before,
:after {
    --tw-content: "";
}

/* Styles pour le document HTML */
html {
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    font-family: Heebo, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
    font-feature-settings: normal;
    font-variation-settings: normal;
    -webkit-tap-highlight-color: transparent;
    scroll-behavior: smooth; /* Ajout pour le défilement fluide */
}

/* Styles pour le corps du document */
body {
    margin: 0;
    line-height: inherit;
}

/* Styles des titres */
h1,
h2,
h3 {
    font-size: inherit;
    font-weight: inherit;
}

/* Styles des liens */
a {
    color: inherit;
    text-decoration: inherit;
}

/* Styles des boutons et champs de saisie */
button,
input {
    font-family: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
}

button {
    text-transform: none;
    -webkit-appearance: button;
    background-color: transparent;
    background-image: none;
    cursor: pointer;
}

/* Placeholder pour les champs de saisie */
input::placeholder {
    opacity: 1;
    color: #9ca3af;
}

/* Styles pour les éléments désactivés */
:disabled {
    cursor: default;
}

/* Styles pour les images et SVG */
img,
svg {
    display: block;
    vertical-align: middle;
}

img {
    max-width: 100%;
    height: auto;
}

/* Styles spécifiques aux types de texte input */
[type=text] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #fff;
    border-color: #6b7280;
    border-width: 1px;
    border-radius: 0;
    padding: .5rem .75rem;
    font-size: 1rem;
    line-height: 1.5rem;
    --tw-shadow: 0 0 #0000;
}

[type=text]:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
    --tw-ring-inset: var(--tw-empty, );
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: #1C64F2;
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
    border-color: #1c64f2;
}

/* Placeholder pour les champs de saisie de texte */
input::placeholder {
    color: #6b7280;
    opacity: 1;
}

/* Styles de disposition générale */
h1,
h2,
h3,
p {
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

summary {
    display: list-item;
}

/* Classes utilitaires de Tailwind CSS (réorganisées par catégorie) */

/* Layout et Positionnement */
.container {
    width: 100%;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

.pointer-events-none {
    pointer-events: none;
}

.fixed {
    position: fixed;
}

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.bottom-0 {
    bottom: 0;
}

.left-0 {
    left: 0;
}

.right-0 {
    right: 0;
}

.top-0 {
    top: 0;
}

.top-\[-150px\] {
    top: -150px;
}

.z-10 {
    z-index: 10;
}

.z-50 {
    z-index: 50;
}

/* Flexbox et Grid */
.flex {
    display: flex;
}

.grid {
    display: grid;
}

.flex-1 {
    flex: 1 1 0%;
}

.shrink-0 {
    flex-shrink: 0;
}

.flex-row {
    flex-direction: row;
}

.flex-col {
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.items-start {
    align-items: flex-start;
}

.items-center {
    align-items: center;
}

.items-stretch {
    align-items: stretch;
}

.justify-start {
    justify-content: flex-start;
}

.justify-end {
    justify-content: flex-end;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}

.gap-1 {
    gap: .25rem;
}

.gap-10 {
    gap: 2.5rem;
}

.gap-2 {
    gap: .5rem;
}

.gap-3 {
    gap: .75rem;
}

.gap-4 {
    gap: 1rem;
}

.gap-5 {
    gap: 1.25rem;
}

.gap-6 {
    gap: 1.5rem;
}

.gap-8 {
    gap: 2rem;
}

.grid-cols-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
}

.grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

.col-span-1 {
    grid-column: span 1 / span 1;
}

.col-span-2 {
    grid-column: span 2 / span 2;
}

.col-span-full {
    grid-column: 1 / -1;
}

.order-1 {
    order: 1;
}

.order-2 {
    order: 2;
}

/* Marges */
.m-4 {
    margin: 1rem;
}

.mx-4 {
    margin-left: 1rem;
    margin-right: 1rem;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.my-4 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.my-5 {
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
}

.my-\[90px\] {
    margin-top: 90px;
    margin-bottom: 90px;
}

.my-auto {
    margin-top: auto;
    margin-bottom: auto;
}

.-mr-1 {
    margin-right: -.25rem;
}

.mb-10 {
    margin-bottom: 2.5rem;
}

.mb-2 {
    margin-bottom: .5rem;
}

.mb-4 {
    margin-bottom: 1rem;
}

.mb-6 {
    margin-bottom: 1.5rem;
}

.mb-\[90px\] {
    margin-bottom: 90px;
}

.ml-2 {
    margin-left: .5rem;
}

.ml-3 {
    margin-left: .75rem;
}

.ml-4 {
    margin-left: 1rem;
}

.mr-2 {
    margin-right: .5rem;
}

.mr-auto {
    margin-right: auto;
}

.mt-16 {
    margin-top: 4rem;
}

.mt-3 {
    margin-top: .75rem;
}

.mt-4 {
    margin-top: 1rem;
}

.mt-5 {
    margin-top: 1.25rem;
}

.mt-6 {
    margin-top: 1.5rem;
}

.mt-8 {
    margin-top: 2rem;
}

.mt-\[-70px\] {
    margin-top: -70px;
}

.mt-\[30px\] {
    margin-top: 30px;
}

.mt-\[70px\] {
    margin-top: 70px;
}

.mt-auto {
    margin-top: auto;
}

/* Dimensions (Hauteur, Largeur) */
.h-3 {
    height: .75rem;
}

.h-4 {
    height: 1rem;
}

.h-5 {
    height: 1.25rem;
}

.h-6 {
    height: 1.5rem;
}

.h-\[100vh\] {
    height: 100vh;
}

.h-\[180px\] {
    height: 180px;
}

.h-\[250px\] {
    height: 250px;
}

.h-\[300px\] {
    height: 300px;
}

.h-\[50vh\] {
    height: 50vh;
}

.h-\[55\%\] {
    height: 55%;
}

.h-full {
    height: 100%;
}

.min-h-\[calc\(100vh-100px\)\] {
    min-height: calc(100vh - 100px);
}

.min-h-screen {
    min-height: 100vh;
}

.w-0 {
    width: 0px;
}

.w-10\/12 {
    width: 83.333333%;
}

.w-3 {
    width: .75rem;
}

.w-4 {
    width: 1rem;
}

.w-44 {
    width: 11rem;
}

.w-5 {
    width: 1.25rem;
}

.w-6 {
    width: 1.5rem;
}

.w-\[100vw\] {
    width: 100vw;
}

.w-\[1px\] {
    width: 1px;
}

.w-\[344px\] {
    width: 344px;
}

.w-\[460px\] {
    width: 460px;
}

.w-full {
    width: 100%;
}

.min-w-0 {
    min-width: 0px;
}

.max-w-\[18ch\] {
    max-width: 18ch;
}

.max-w-\[72ch\] {
    max-width: 72ch;
}

.max-w-screen-xl {
    max-width: 1280px;
}

/* Affichage */
.block {
    display: block;
}

.inline-block {
    display: inline-block;
}

.hidden {
    display: none;
}

/* Aspect et Forme */
.aspect-square {
    aspect-ratio: 1 / 1;
}

.rounded {
    border-radius: .25rem;
}

.rounded-lg {
    border-radius: .5rem;
}

.rounded-md {
    border-radius: .375rem;
}

.rounded-sm {
    border-radius: .125rem;
}

.rounded-xl {
    border-radius: .75rem;
}

.overflow-hidden {
    overflow: hidden;
}

.overflow-x-hidden {
    overflow-x: hidden;
}

.truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.list-none {
    list-style-type: none;
}

/* Bordures et Séparateurs */
.border {
    border-width: 1px;
}

.border-2 {
    border-width: 2px;
}

.border-gray-200 {
    --tw-border-opacity: 1;
    border-color: rgb(229 231 235 / var(--tw-border-opacity, 1));
}

.border-primary-500\/50 {
    border-color: #5766e480;
}

.border-secondary-300 {
    --tw-border-opacity: 1;
    border-color: rgb(61 63 82 / var(--tw-border-opacity, 1));
}

.border-secondary-400 {
    --tw-border-opacity: 1;
    border-color: rgb(38 43 54 / var(--tw-border-opacity, 1));
}

.border-secondary-400\/30 {
    border-color: #262b364d;
}

.divide-y-2>:not([hidden])~:not([hidden]) {
    --tw-divide-y-reverse: 0;
    border-top-width: calc(2px * calc(1 - var(--tw-divide-y-reverse)));
    border-bottom-width: calc(2px * var(--tw-divide-y-reverse));
}

.divide-secondary-400>:not([hidden])~:not([hidden]) {
    --tw-divide-opacity: 1;
    border-color: rgb(38 43 54 / var(--tw-divide-opacity, 1));
}

/* Arrière-plans et Couleurs */
.bg-black\/60 {
    background-color: #0009;
}

.bg-indigo-500 {
    --tw-bg-opacity: 1;
    background-color: rgb(104 117 245 / var(--tw-bg-opacity, 1));
}

.bg-indigo-600 {
    --tw-bg-opacity: 1;
    background-color: rgb(88 80 236 / var(--tw-bg-opacity, 1));
}

.bg-primary-500\/25 {
    background-color: #5766e440;
}

.bg-secondary-200\/10 {
    background-color: #c6c7c91a;
}

.bg-secondary-400 {
    --tw-bg-opacity: 1;
    background-color: rgb(38 43 54 / var(--tw-bg-opacity, 1));
}

.bg-secondary-500 {
    --tw-bg-opacity: 1;
    background-color: rgb(28 31 44 / var(--tw-bg-opacity, 1));
}

.bg-secondary-500\/60 {
    background-color: #1c1f2c99;
}

.bg-secondary-600 {
    --tw-bg-opacity: 1;
    background-color: rgb(19 22 31 / var(--tw-bg-opacity, 1));
}

.bg-secondary-700 {
    --tw-bg-opacity: 1;
    background-color: rgb(16 18 24 / var(--tw-bg-opacity, 1));
}

.bg-secondary-700\/60 {
    background-color: #10121899;
}

.bg-white\/5 {
    background-color: #ffffff0d;
}

.bg-gradient-to-br {
    background-image: linear-gradient(to bottom right, var(--tw-gradient-stops));
}

.from-primary-400 {
    --tw-gradient-from: #8994EC var(--tw-gradient-from-position);
    --tw-gradient-to: rgb(137 148 236 / 0) var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

.to-primary-600 {
    --tw-gradient-to: #4E5CCD var(--tw-gradient-to-position);
}

.bg-clip-text {
    -webkit-background-clip: text;
    background-clip: text;
}

.fill-white {
    fill: #fff;
}

.fill-white\/5 {
    fill: #ffffff0d;
}

/* Padding */
.p-2 {
    padding: .5rem;
}

.p-3 {
    padding: .75rem;
}

.p-4 {
    padding: 1rem;
}

.p-5 {
    padding: 1.25rem;
}

.p-8 {
    padding: 2rem;
}

.px-2 {
    padding-left: .5rem;
    padding-right: .5rem;
}

.px-3 {
    padding-left: .75rem;
    padding-right: .75rem;
}

.px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.px-5 {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}

.py-0\.5 {
    padding-top: .125rem;
    padding-bottom: .125rem;
}

.py-1 {
    padding-top: .25rem;
    padding-bottom: .25rem;
}

.py-2 {
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.py-2\.5 {
    padding-top: .625rem;
    padding-bottom: .625rem;
}

.py-20 {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.py-4 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.py-5 {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
}

.py-6 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.py-8 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.pr-10 {
    padding-right: 2.5rem;
}

/* Texte et Typographie */
.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.font-sans {
    font-family: Heebo, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
}

.text-2xl {
    font-size: 1.5rem;
    line-height: 2rem;
}

.text-3xl {
    font-size: 1.875rem;
    line-height: 2.25rem;
}

.text-4xl {
    font-size: 2.25rem;
    line-height: 2.5rem;
}

.text-base {
    font-size: 1rem;
    line-height: 1.5rem;
}

.text-sm {
    font-size: .875rem;
    line-height: 1.25rem;
}

.text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem;
}

.text-xs {
    font-size: .75rem;
    line-height: 1rem;
}

.font-bold {
    font-weight: 700;
}

.font-extrabold {
    font-weight: 800;
}

.font-medium {
    font-weight: 500;
}

.uppercase {
    text-transform: uppercase;
}

.tracking-tight {
    letter-spacing: -.025em;
}

.text-gray-200 {
    --tw-text-opacity: 1;
    color: rgb(229 231 235 / var(--tw-text-opacity, 1));
}

.text-gray-300 {
    --tw-text-opacity: 1;
    color: rgb(209 213 219 / var(--tw-text-opacity, 1));
}

.text-gray-400 {
    --tw-text-opacity: 1;
    color: rgb(156 163 175 / var(--tw-text-opacity, 1));
}

.text-gray-500 {
    --tw-text-opacity: 1;
    color: rgb(107 114 128 / var(--tw-text-opacity, 1));
}

.text-primary-400 {
    --tw-text-opacity: 1;
    color: rgb(137 148 236 / var(--tw-text-opacity, 1));
}

.text-primary-500 {
    --tw-text-opacity: 1;
    color: rgb(87 102 228 / var(--tw-text-opacity, 1));
}

.text-transparent {
    color: transparent;
}

.text-white {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.antialiased {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Ombres et Effets */
.shadow {
    --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / .1), 0 1px 2px -1px rgb(0 0 0 / .1);
    --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-2xl {
    --tw-shadow: 0 25px 50px -12px rgb(0 0 0 / .25);
    --tw-shadow-colored: 0 25px 50px -12px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-primary-500\/10 {
    --tw-shadow-color: rgb(87 102 228 / .1);
    --tw-shadow: var(--tw-shadow-colored);
}

.drop-shadow-lg {
    --tw-drop-shadow: drop-shadow(0 10px 8px rgb(0 0 0 / .04)) drop-shadow(0 4px 3px rgb(0 0 0 / .1));
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.drop-shadow-sm {
    --tw-drop-shadow: drop-shadow(0 1px 1px rgb(0 0 0 / .05));
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.saturate-\[1\.3\] {
    --tw-saturate: saturate(1.3);
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.backdrop-blur {
    --tw-backdrop-blur: blur(8px);
    -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
    backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
}

.backdrop-blur-md {
    --tw-backdrop-blur: blur(12px);
    -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
    backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
}

/* Transitions et Animations */
.transition {
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .15s;
}

.transition-all {
    transition-property: all;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .15s;
}

.animate-spin {
    animation: spin 1s linear infinite;
}

/* Styles spécifiques (boutons, images, sections) */
section {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}

.primaryButton {
    border-radius: .375rem;
    border-width: 2px;
    border-bottom-width: 0px;
    border-color: #d5d9f866;
    background-image: linear-gradient(to bottom, var(--tw-gradient-stops));
    --tw-gradient-from: #5766E4 var(--tw-gradient-from-position);
    --tw-gradient-to: rgb(87 102 228 / 0) var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
    --tw-gradient-to: #4E5CCD var(--tw-gradient-to-position);
    padding: .5rem 1rem;
    transition: transform .3s ease;
}

.primaryButton:hover {
    --tw-scale-x: 1.05;
    --tw-scale-y: 1.05;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.earnButton {
    border-radius: .375rem;
    border-width: 2px;
    border-bottom-width: 0px;
    border-color: #bcf0da66;
    background-image: linear-gradient(to bottom, var(--tw-gradient-stops));
    --tw-gradient-from: #31C48D var(--tw-gradient-from-position);
    --tw-gradient-to: rgb(49 196 141 / 0) var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
    --tw-gradient-to: #0E9F6E var(--tw-gradient-to-position);
    padding: .75rem 1.5rem;
    transition: transform .3s ease;
}

.earnButton:hover {
    --tw-scale-x: 1.05;
    --tw-scale-y: 1.05;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.inputDark {
    border-color: #c6c7c933;
    --tw-bg-opacity: 1;
    background-color: rgb(61 63 82 / var(--tw-bg-opacity, 1));
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity, 1));
    --tw-shadow: inset 0 2px 4px 0 rgb(0 0 0 / .05);
    --tw-shadow-colored: inset 0 2px 4px 0 var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    box-shadow: inset 0 2px 9px #0006;
}

#homepage-image {
    background: radial-gradient(at bottom right, #51578778 0%, #6b7dff00 66%) 110px -20px no-repeat;
    max-height: 76vh;
    -o-object-position: bottom right;
    object-position: bottom right;
}

details summary::-webkit-details-marker {
    display: none;
}

input {
    color-scheme: dark;
}

.prose {
    color: var(--tw-prose-body);
    max-width: 65ch;
    --tw-prose-body: #374151;
    --tw-prose-headings: #111827;
    --tw-prose-lead: #4b5563;
    --tw-prose-links: #111827;
    --tw-prose-bold: #111827;
    --tw-prose-counters: #6b7280;
    --tw-prose-bullets: #d1d5db;
    --tw-prose-hr: #e5e7eb;
    --tw-prose-quotes: #111827;
    --tw-prose-quote-borders: #e5e7eb;
    --tw-prose-captions: #6b7280;
    --tw-prose-kbd: #111827;
    --tw-prose-kbd-shadows: 17 24 39;
    --tw-prose-code: #111827;
    --tw-prose-pre-code: #e5e7eb;
    --tw-prose-pre-bg: #1f2937;
    --tw-prose-th-borders: #d1d5db;
    --tw-prose-td-borders: #e5e7eb;
    --tw-prose-invert-body: #d1d5db;
    --tw-prose-invert-headings: #fff;
    --tw-prose-invert-lead: #9ca3af;
    --tw-prose-invert-links: #fff;
    --tw-prose-invert-bold: #fff;
    --tw-prose-invert-counters: #9ca3af;
    --tw-prose-invert-bullets: #4b5563;
    --tw-prose-invert-hr: #374151;
    --tw-prose-invert-quotes: #f3f4f6;
    --tw-prose-invert-quote-borders: #374151;
    --tw-prose-invert-captions: #9ca3af;
    --tw-prose-invert-kbd: #fff;
    --tw-prose-invert-kbd-shadows: 255 255 255;
    --tw-prose-invert-code: #fff;
    --tw-prose-invert-pre-code: #d1d5db;
    --tw-prose-invert-pre-bg: rgb(0 0 0 / 50%);
    --tw-prose-invert-th-borders: #4b5563;
    --tw-prose-invert-td-borders: #374151;
    font-size: 1rem;
    line-height: 1.75;
}

.prose :where(a):not(:where([class~=not-prose], [class~=not-prose] *)) {
    color: var(--tw-prose-links);
    text-decoration: underline;
    font-weight: 500;
}

.prose :where(.prose>:first-child):not(:where([class~=not-prose], [class~=not-prose] *)) {
    margin-top: 0;
}

.prose :where(.prose>:last-child):not(:where([class~=not-prose], [class~=not-prose] *)) {
    margin-bottom: 0;
}

/* Hover States */
.hover\:bg-indigo-600:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(88 80 236 / var(--tw-bg-opacity, 1));
}

.hover\:bg-secondary-100\/5:hover {
    background-color: #e8e9ea0d;
}

.hover\:bg-white\/5:hover {
    background-color: #ffffff0d;
}

.hover\:text-white:hover {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.hover\:underline:hover {
    text-decoration-line: underline;
}

/* Focus States */
.focus\:border-primary-500:focus {
    --tw-border-opacity: 1;
    border-color: rgb(87 102 228 / var(--tw-border-opacity, 1));
}

.focus\:bg-indigo-600:focus {
    --tw-bg-opacity: 1;
    background-color: rgb(88 80 236 / var(--tw-bg-opacity, 1));
}

.focus\:outline-none:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
}

.focus\:ring-primary-500:focus {
    --tw-ring-opacity: 1;
    --tw-ring-color: rgb(87 102 228 / var(--tw-ring-opacity, 1));
}

/* Media Queries (Responsive Design) */

/* Small Screens (sm) */
@media (min-width: 640px) {
    .sm\:order-1 {
        order: 1;
    }

    .sm\:order-2 {
        order: 2;
    }

    .sm\:col-span-2 {
        grid-column: span 2 / span 2;
    }

    .sm\:-mr-2 {
        margin-right: -.5rem;
    }

    .sm\:ml-3 {
        margin-left: .75rem;
    }

    .sm\:inline-flex {
        display: inline-flex;
    }

    .sm\:h-\[240px\] {
        height: 240px;
    }

    .sm\:grid-cols-2 {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .sm\:grid-cols-3 {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    .sm\:px-6 {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    .container {
        max-width: 640px;
    }
}

/* Medium Screens (md) */
@media (min-width: 768px) {
    .md\:top-\[150px\] {
        top: 150px;
    }

    .md\:ml-0 {
        margin-left: 0;
    }

    .md\:ml-10 {
        margin-left: 2.5rem;
    }

    .md\:mr-auto {
        margin-right: auto;
    }

    .md\:block {
        display: block;
    }

    .md\:w-8\/12 {
        width: 66.666667%;
    }

    .md\:max-w-\[75\%\] {
        max-width: 75%;
    }

    .md\:grid-cols-2 {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .md\:grid-cols-5 {
        grid-template-columns: repeat(5, minmax(0, 1fr));
    }

    .md\:flex-row {
        flex-direction: row;
    }

    .md\:items-start {
        align-items: flex-start;
    }

    .md\:object-contain {
        -o-object-fit: contain;
        object-fit: contain;
    }

    .md\:px-4 {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .md\:px-6 {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    .md\:text-left {
        text-align: left;
    }

    .container {
        max-width: 768px;
    }
}

/* Large Screens (lg) */
@media (min-width: 1024px) {
    .lg\:flex {
        display: flex;
    }

    .lg\:hidden {
        display: none;
    }

    .lg\:h-\[100vh\] {
        height: 100vh;
    }

    .lg\:w-4\/12 {
        width: 33.333333%;
    }

    .lg\:grid-cols-3 {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    .lg\:flex-row {
        flex-direction: row;
    }

    .lg\:items-center {
        align-items: center;
    }

    .lg\:gap-6 {
        gap: 1.5rem;
    }

    .lg\:px-8 {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .lg\:px-\[56px\] {
        padding-left: 56px;
        padding-right: 56px;
    }

    .lg\:px-\[64px\] {
        padding-left: 64px;
        padding-right: 64px;
    }

    .lg\:pl-6 {
        padding-left: 1.5rem;
    }

    .lg\:text-3xl {
        font-size: 1.875rem;
        line-height: 2.25rem;
    }

    .lg\:text-4xl {
        font-size: 2.25rem;
        line-height: 2.5rem;
    }

    .lg\:text-6xl {
        font-size: 3.75rem;
        line-height: 1;
    }

    .container {
        max-width: 1024px;
    }
}

/* Extra Large Screens (xl) */
@media (min-width: 1280px) {
    .xl\:h-\[220px\] {
        height: 220px;
    }

    .xl\:text-\[5rem\] {
        font-size: 5rem;
    }

    .xl\:text-lg {
        font-size: 1.125rem;
        line-height: 1.75rem;
    }

    .container {
        max-width: 1280px;
    }
}

/* Double Extra Large Screens (2xl) */
@media (min-width: 1536px) {
    .container {
        max-width: 1536px;
    }
}

/* Styles Livewire (spécifiques à une technologie) */
[wire\:loading\.inline][wire\:loading\.inline] {
    display: none;
}

:root {
    --livewire-progress-bar-color: #2299dd;
}

/* Keyframes d'animation */
@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

/* Font Faces */
@font-face {
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://blx.gg/fonts/NGS6v5_NC0k9P9H2TbE.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://blx.gg/fonts/NGS6v5_NC0k9P9H2TbE.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(https://blx.gg/fonts/NGS6v5_NC0k9P9H2TbE.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://blx.gg/fonts/NGS6v5_NC0k9P9H2TbE.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
